<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico"/>
    <!-- Generated: 2018-03-27 13:25:03 +0200 -->
    <title th:text="#{LOGI_TITLE}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <script type="text/javascript" th:src="@{/assets/js/require.min.js}"></script>
    <script type="text/javascript">
        requirejs.config({
            baseUrl: '/'
        });
    </script>
    <!-- Dashboard Core -->
    <link th:href="@{/assets/css/dashboard.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/assets/js/dashboard.js}"></script>
    <script src="https://unpkg.com/stackedit-js@1.0.4/docs/lib/stackedit.min.js"></script>
</head>
<body class="">
<div class="page">
    <div class="page-main">
        <div class="header">
            <div class="container">
                <div class="d-flex">
                    <a class="navbar-brand" href="./index.html">
                        <img src="/demo/brand/tabler.svg" class="navbar-brand-img" alt="tabler.io">
                    </a>
                    <div class="ml-auto d-flex order-lg-2">
                        <div class="dropdown d-none d-md-flex">
                            <a class="nav-link icon" data-toggle="dropdown">
                                <i class="fe fe-message-square"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow px-4">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto
                                asperiores dolorem, est fugiat in maxime natus officia velit voluptas! Ab asperiores
                                delectus dolore dolores maxime nesciunt qui quia totam.
                            </div>
                        </div>
                        <div class="dropdown d-none d-md-flex">
                            <a class="nav-link icon" data-toggle="dropdown">
                                <i class="fe fe-bell"></i>
                                <span class="nav-unread"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow px-4">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto
                                asperiores dolorem, est fugiat in maxime natus officia velit voluptas! Ab asperiores
                                delectus dolore dolores maxime nesciunt qui quia totam.
                            </div>
                        </div>
                        <div class="dropdown">
                            <a href="#" class="nav-link pr-0" data-toggle="dropdown">
                                <span class="avatar" style="background-image: url(/demo/faces/female/25.jpg)"></span>
                                <span class="ml-2 d-none d-lg-block">
                      <span class="text-default">Jane Pearson</span>
                      <small class="text-muted d-block mt-1">Administrator</small>
                    </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a class="dropdown-item" href="#">
                                    <span>Profile</span>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <span>Settings</span>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <span class="float-right"><span class="badge badge-primary">6</span></span>
                                    <span>Inbox</span>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <span>Message</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Need help? </a>
                                <a class="dropdown-item" href="#">Sign out</a>
                            </div>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse order-lg-1" id="navbarToggler">
                        <ul class="navbar-nav mt-2 mt-lg-0 mx-0 mx-lg-2">
                            <li class="nav-item"><a href="#" class="nav-link">Dashboard</a></li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Projects</a>
                                <div class="dropdown-menu mt-2 text-color" role="menu">
                                    <a href="#" class="dropdown-item"><i class="dropdown-icon fa fa-tag"></i> Action
                                    </a>
                                    <a href="#" class="dropdown-item"><i class="dropdown-icon fa fa-pencil"></i> Another
                                        action </a>
                                    <a href="#" class="dropdown-item"><i class="dropdown-icon fa fa-reply"></i>
                                        Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item"><i class="dropdown-icon fa fa-ellipsis-h"></i>
                                        Separated link</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-nav d-none d-lg-flex">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link active"><i class="fe fe-home"></i> 首页</a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link"><i class="fe fe-box"></i> 发现</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3 ml-auto">
                        <form class="input-icon">
                            <input type="search" class="form-control header-search" placeholder="Search&hellip;"
                                   tabindex="1">
                            <div class="input-icon-addon">
                                <i class="fe fe-search"></i>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content">
            <div class="container">
                <textarea id="content">

                </textarea>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                    Copyright © 2018 <a href="." th:text="#{LOGI_NAME}"></a>.
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
<script>
    import Stackedit from 'stackedit-js';
    const el = document.querySelector('textarea');
    const stackedit = new Stackedit();
    // Open the iframe
    stackedit.openFile({
        name: 'Filename', // with an optional filename
        content: {
            text: el.value // and the Markdown content.
        }
    });

    // Listen to StackEdit events and apply the changes to the textarea.
    stackedit.on('fileChange', (file) => {
        el.value = file.content.text;
    });
</script>
</html>